In [1]:
import random
from datetime import datetime, timedelta
import pymysql

In [29]:
import os

In [17]:
# MySQL Connecting
conn = pymysql.connect(
    host='localhost',
    user='root',
    password='zazasomening488',
    database='lang_product_test',
    charset='utf8mb4',
    cursorclass=pymysql.cursors.DictCursor
)

In [3]:
product_ids = list(range(1, 11))  # limit 10
start_date = datetime(2025, 6, 1)

In [4]:
# with conn.cursor() as cursor:
#     for _ in range(100):  # table 100 r
#         product_id = random.choice(product_ids)
#         quantity = random.randint(1, 10)
#         price = round(random.uniform(5000, 50000), 2)
#         sale_date = start_date + timedelta(days=random.randint(0, 60))

#         cursor.execute("""
#             INSERT INTO sales (product_id, quantity, price_per_unit, sale_date)
#             VALUES (%s, %s, %s, %s)
#         """, (product_id, quantity, price, sale_date.strftime('%Y-%m-%d')))

#     conn.commit()

# conn.close()

In [5]:
with conn.cursor() as cursor:
    cursor.execute("SELECT * FROM sales LIMIT 10;")
    results = cursor.fetchall()
    for row in results:
        print(row)

conn.close()

{'id': 1, 'product_id': 9, 'quantity': 8, 'price_per_unit': Decimal('36597.62'), 'sale_date': datetime.date(2025, 6, 6)}
{'id': 2, 'product_id': 1, 'quantity': 4, 'price_per_unit': Decimal('23335.13'), 'sale_date': datetime.date(2025, 6, 29)}
{'id': 3, 'product_id': 8, 'quantity': 6, 'price_per_unit': Decimal('22282.39'), 'sale_date': datetime.date(2025, 6, 23)}
{'id': 4, 'product_id': 5, 'quantity': 7, 'price_per_unit': Decimal('17394.10'), 'sale_date': datetime.date(2025, 7, 16)}
{'id': 5, 'product_id': 5, 'quantity': 1, 'price_per_unit': Decimal('10128.32'), 'sale_date': datetime.date(2025, 6, 6)}
{'id': 6, 'product_id': 10, 'quantity': 4, 'price_per_unit': Decimal('34306.02'), 'sale_date': datetime.date(2025, 6, 12)}
{'id': 7, 'product_id': 5, 'quantity': 6, 'price_per_unit': Decimal('18820.17'), 'sale_date': datetime.date(2025, 6, 1)}
{'id': 8, 'product_id': 7, 'quantity': 7, 'price_per_unit': Decimal('8700.23'), 'sale_date': datetime.date(2025, 6, 29)}
{'id': 9, 'product_id': 6, 'quantity': 10, 'price_per_unit': Decimal('16276.22'), 'sale_date': datetime.date(2025, 7, 9)}
{'id': 10, 'product_id': 2, 'quantity': 4, 'price_per_unit': Decimal('44725.77'), 'sale_date': datetime.date(2025, 6, 20)}

In [ ]:
from dotenv import load_dotenv

In [7]:
load_dotenv()

True

In [8]:
from sqlalchemy import create_engine
from langchain.sql_database import SQLDatabase
from langchain.chat_models import ChatOpenAI

In [9]:
engine = create_engine("mysql+pymysql://root:zazasomening488@localhost:3306/lang_product_test")
db = SQLDatabase(engine)

In [10]:
llm = ChatOpenAI(model_name="gpt-3.5-turbo", temperature=0, max_tokens=500)

In [11]:
from langchain.chains import SQLDatabaseChain

db_chain = SQLDatabaseChain(llm=llm, database=db, verbose=False)

c:\Users\BM MONEY\OneDrive\Desktop\mycode\langchain-lab\langchain-lab\langch2\Lib\site-packages\langchain\chains\sql_database\base.py:63: UserWarning: Directly instantiating an SQLDatabaseChain with an llm is deprecated. Please instantiate with llm_chain argument or using the from_llm class method.
  warnings.warn(

In [12]:
# query = "analyze this sales"
# try:
#     response = db_chain.run(query)
#     print(response)
# except Exception as e:
#     print(f"Error: {e}")

In [13]:
import langchain.chains.sql_database as sql_db
print(dir(sql_db))

['__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', 'base', 'prompt']

In [14]:
import langchain
print(langchain.__version__)

0.0.232

In [15]:
import openai
print(openai.__version__)

0.27.8

In [18]:
try:
    with conn.cursor() as cursor:
        cursor.execute("SHOW DATABASES")
        databases = cursor.fetchall()
        print("Databases:")
        # for db in databases:
        #     print("-", db['Database'])

        cursor.execute("USE lang_product_test")

        cursor.execute("SHOW TABLES")
        tables = cursor.fetchall()
        print("Tables:")
        for table in tables:
            print("-", list(table.values())[0])

        # first
        first_table = list(tables[0].values())[0]
        cursor.execute(f"SELECT * FROM {first_table}")
        rows = cursor.fetchall()
        print(f"Sample Data from '{first_table}':")
        for row in rows:
            print(row)
            
        second_table = list(tables[1].values())[0]
        cursor.execute(f"SELECT * FROM {second_table}")
        rows_2 = cursor.fetchall()
        print(f"Sample Data from '{second_table}':")
        for row in rows_2:
            print(row) 

finally:
    conn.close()

Databases:
Tables:
- products
- sales
Sample Data from 'products':
{'id': 1, 'name': 'iPhone 15', 'category': 'Smartphone'}
{'id': 2, 'name': 'Samsung Galaxy S23', 'category': 'Smartphone'}
{'id': 3, 'name': 'MacBook Air', 'category': 'Laptop'}
{'id': 4, 'name': 'Dell XPS 13', 'category': 'Laptop'}
{'id': 5, 'name': 'iPad Pro', 'category': 'Tablet'}
{'id': 6, 'name': 'Apple Watch', 'category': 'Wearable'}
{'id': 7, 'name': 'Sony WH-1000XM5', 'category': 'Headphones'}
{'id': 8, 'name': 'Logitech MX Master 3', 'category': 'Accessories'}
{'id': 9, 'name': 'Canon EOS R7', 'category': 'Camera'}
{'id': 10, 'name': 'GoPro Hero 12', 'category': 'Camera'}
Sample Data from 'sales':
{'id': 1, 'product_id': 9, 'quantity': 8, 'price_per_unit': Decimal('36597.62'), 'sale_date': datetime.date(2025, 6, 6)}
{'id': 2, 'product_id': 1, 'quantity': 4, 'price_per_unit': Decimal('23335.13'), 'sale_date': datetime.date(2025, 6, 29)}
{'id': 3, 'product_id': 8, 'quantity': 6, 'price_per_unit': Decimal('22282.39'), 'sale_date': datetime.date(2025, 6, 23)}
{'id': 4, 'product_id': 5, 'quantity': 7, 'price_per_unit': Decimal('17394.10'), 'sale_date': datetime.date(2025, 7, 16)}
{'id': 5, 'product_id': 5, 'quantity': 1, 'price_per_unit': Decimal('10128.32'), 'sale_date': datetime.date(2025, 6, 6)}
{'id': 6, 'product_id': 10, 'quantity': 4, 'price_per_unit': Decimal('34306.02'), 'sale_date': datetime.date(2025, 6, 12)}
{'id': 7, 'product_id': 5, 'quantity': 6, 'price_per_unit': Decimal('18820.17'), 'sale_date': datetime.date(2025, 6, 1)}
{'id': 8, 'product_id': 7, 'quantity': 7, 'price_per_unit': Decimal('8700.23'), 'sale_date': datetime.date(2025, 6, 29)}
{'id': 9, 'product_id': 6, 'quantity': 10, 'price_per_unit': Decimal('16276.22'), 'sale_date': datetime.date(2025, 7, 9)}
{'id': 10, 'product_id': 2, 'quantity': 4, 'price_per_unit': Decimal('44725.77'), 'sale_date': datetime.date(2025, 6, 20)}
{'id': 11, 'product_id': 8, 'quantity': 8, 'price_per_unit': Decimal('16062.17'), 'sale_date': datetime.date(2025, 7, 19)}
{'id': 12, 'product_id': 10, 'quantity': 3, 'price_per_unit': Decimal('45464.08'), 'sale_date': datetime.date(2025, 7, 15)}
{'id': 13, 'product_id': 7, 'quantity': 3, 'price_per_unit': Decimal('33727.49'), 'sale_date': datetime.date(2025, 7, 25)}
{'id': 14, 'product_id': 4, 'quantity': 4, 'price_per_unit': Decimal('40486.44'), 'sale_date': datetime.date(2025, 6, 14)}
{'id': 15, 'product_id': 3, 'quantity': 10, 'price_per_unit': Decimal('19496.53'), 'sale_date': datetime.date(2025, 7, 7)}
{'id': 16, 'product_id': 4, 'quantity': 10, 'price_per_unit': Decimal('27287.19'), 'sale_date': datetime.date(2025, 7, 6)}
{'id': 17, 'product_id': 2, 'quantity': 8, 'price_per_unit': Decimal('44350.17'), 'sale_date': datetime.date(2025, 6, 11)}
{'id': 18, 'product_id': 3, 'quantity': 8, 'price_per_unit': Decimal('7124.25'), 'sale_date': datetime.date(2025, 7, 31)}
{'id': 19, 'product_id': 10, 'quantity': 9, 'price_per_unit': Decimal('7966.95'), 'sale_date': datetime.date(2025, 6, 19)}
{'id': 20, 'product_id': 10, 'quantity': 2, 'price_per_unit': Decimal('44868.60'), 'sale_date': datetime.date(2025, 6, 9)}
{'id': 21, 'product_id': 9, 'quantity': 2, 'price_per_unit': Decimal('25833.89'), 'sale_date': datetime.date(2025, 7, 20)}
{'id': 22, 'product_id': 3, 'quantity': 6, 'price_per_unit': Decimal('6820.65'), 'sale_date': datetime.date(2025, 7, 2)}
{'id': 23, 'product_id': 9, 'quantity': 4, 'price_per_unit': Decimal('10386.37'), 'sale_date': datetime.date(2025, 7, 25)}
{'id': 24, 'product_id': 3, 'quantity': 4, 'price_per_unit': Decimal('49856.43'), 'sale_date': datetime.date(2025, 7, 15)}
{'id': 25, 'product_id': 6, 'quantity': 2, 'price_per_unit': Decimal('7499.31'), 'sale_date': datetime.date(2025, 6, 12)}
{'id': 26, 'product_id': 4, 'quantity': 6, 'price_per_unit': Decimal('44744.15'), 'sale_date': datetime.date(2025, 7, 29)}
{'id': 27, 'product_id': 3, 'quantity': 8, 'price_per_unit': Decimal('27503.69'), 'sale_date': datetime.date(2025, 7, 10)}
{'id': 28, 'product_id': 8, 'quantity': 8, 'price_per_unit': Decimal('9112.83'), 'sale_date': datetime.date(2025, 7, 10)}
{'id': 29, 'product_id': 7, 'quantity': 5, 'price_per_unit': Decimal('8043.60'), 'sale_date': datetime.date(2025, 7, 30)}
{'id': 30, 'product_id': 7, 'quantity': 9, 'price_per_unit': Decimal('38393.61'), 'sale_date': datetime.date(2025, 6, 26)}
{'id': 31, 'product_id': 2, 'quantity': 4, 'price_per_unit': Decimal('21600.57'), 'sale_date': datetime.date(2025, 6, 6)}
{'id': 32, 'product_id': 7, 'quantity': 2, 'price_per_unit': Decimal('25182.75'), 'sale_date': datetime.date(2025, 7, 15)}
{'id': 33, 'product_id': 6, 'quantity': 6, 'price_per_unit': Decimal('17059.96'), 'sale_date': datetime.date(2025, 7, 25)}
{'id': 34, 'product_id': 3, 'quantity': 7, 'price_per_unit': Decimal('31864.07'), 'sale_date': datetime.date(2025, 6, 4)}
{'id': 35, 'product_id': 7, 'quantity': 4, 'price_per_unit': Decimal('10607.94'), 'sale_date': datetime.date(2025, 7, 5)}
{'id': 36, 'product_id': 5, 'quantity': 5, 'price_per_unit': Decimal('9708.22'), 'sale_date': datetime.date(2025, 7, 26)}
{'id': 37, 'product_id': 4, 'quantity': 10, 'price_per_unit': Decimal('23505.99'), 'sale_date': datetime.date(2025, 6, 21)}
{'id': 38, 'product_id': 7, 'quantity': 8, 'price_per_unit': Decimal('36800.45'), 'sale_date': datetime.date(2025, 6, 29)}
{'id': 39, 'product_id': 9, 'quantity': 8, 'price_per_unit': Decimal('30690.21'), 'sale_date': datetime.date(2025, 6, 5)}
{'id': 40, 'product_id': 6, 'quantity': 8, 'price_per_unit': Decimal('41988.09'), 'sale_date': datetime.date(2025, 7, 21)}
{'id': 41, 'product_id': 6, 'quantity': 9, 'price_per_unit': Decimal('30249.43'), 'sale_date': datetime.date(2025, 6, 4)}
{'id': 42, 'product_id': 7, 'quantity': 8, 'price_per_unit': Decimal('11797.06'), 'sale_date': datetime.date(2025, 7, 2)}
{'id': 43, 'product_id': 1, 'quantity': 8, 'price_per_unit': Decimal('27533.88'), 'sale_date': datetime.date(2025, 6, 25)}
{'id': 44, 'product_id': 6, 'quantity': 10, 'price_per_unit': Decimal('16810.75'), 'sale_date': datetime.date(2025, 7, 7)}
{'id': 45, 'product_id': 1, 'quantity': 2, 'price_per_unit': Decimal('6642.45'), 'sale_date': datetime.date(2025, 6, 16)}
{'id': 46, 'product_id': 4, 'quantity': 7, 'price_per_unit': Decimal('38519.55'), 'sale_date': datetime.date(2025, 6, 18)}
{'id': 47, 'product_id': 9, 'quantity': 5, 'price_per_unit': Decimal('18552.44'), 'sale_date': datetime.date(2025, 6, 18)}
{'id': 48, 'product_id': 5, 'quantity': 4, 'price_per_unit': Decimal('18245.36'), 'sale_date': datetime.date(2025, 7, 28)}
{'id': 49, 'product_id': 9, 'quantity': 4, 'price_per_unit': Decimal('45468.35'), 'sale_date': datetime.date(2025, 6, 19)}
{'id': 50, 'product_id': 5, 'quantity': 3, 'price_per_unit': Decimal('47329.97'), 'sale_date': datetime.date(2025, 6, 11)}
{'id': 51, 'product_id': 3, 'quantity': 10, 'price_per_unit': Decimal('30074.35'), 'sale_date': datetime.date(2025, 7, 12)}
{'id': 52, 'product_id': 5, 'quantity': 8, 'price_per_unit': Decimal('43318.60'), 'sale_date': datetime.date(2025, 7, 8)}
{'id': 53, 'product_id': 10, 'quantity': 4, 'price_per_unit': Decimal('8624.96'), 'sale_date': datetime.date(2025, 7, 1)}
{'id': 54, 'product_id': 4, 'quantity': 8, 'price_per_unit': Decimal('6072.90'), 'sale_date': datetime.date(2025, 6, 16)}
{'id': 55, 'product_id': 6, 'quantity': 7, 'price_per_unit': Decimal('28366.81'), 'sale_date': datetime.date(2025, 7, 25)}
{'id': 56, 'product_id': 7, 'quantity': 6, 'price_per_unit': Decimal('17516.64'), 'sale_date': datetime.date(2025, 7, 30)}
{'id': 57, 'product_id': 10, 'quantity': 6, 'price_per_unit': Decimal('34052.66'), 'sale_date': datetime.date(2025, 7, 23)}
{'id': 58, 'product_id': 4, 'quantity': 5, 'price_per_unit': Decimal('8013.78'), 'sale_date': datetime.date(2025, 7, 8)}
{'id': 59, 'product_id': 3, 'quantity': 5, 'price_per_unit': Decimal('25470.32'), 'sale_date': datetime.date(2025, 6, 21)}
{'id': 60, 'product_id': 10, 'quantity': 6, 'price_per_unit': Decimal('42532.03'), 'sale_date': datetime.date(2025, 7, 28)}
{'id': 61, 'product_id': 4, 'quantity': 5, 'price_per_unit': Decimal('5240.68'), 'sale_date': datetime.date(2025, 7, 24)}
{'id': 62, 'product_id': 5, 'quantity': 3, 'price_per_unit': Decimal('36651.85'), 'sale_date': datetime.date(2025, 6, 2)}
{'id': 63, 'product_id': 1, 'quantity': 2, 'price_per_unit': Decimal('12548.42'), 'sale_date': datetime.date(2025, 7, 24)}
{'id': 64, 'product_id': 1, 'quantity': 6, 'price_per_unit': Decimal('36128.86'), 'sale_date': datetime.date(2025, 6, 18)}
{'id': 65, 'product_id': 6, 'quantity': 4, 'price_per_unit': Decimal('31039.91'), 'sale_date': datetime.date(2025, 6, 14)}
{'id': 66, 'product_id': 1, 'quantity': 1, 'price_per_unit': Decimal('22928.26'), 'sale_date': datetime.date(2025, 6, 9)}
{'id': 67, 'product_id': 3, 'quantity': 1, 'price_per_unit': Decimal('25503.34'), 'sale_date': datetime.date(2025, 7, 5)}
{'id': 68, 'product_id': 5, 'quantity': 3, 'price_per_unit': Decimal('42478.47'), 'sale_date': datetime.date(2025, 7, 16)}
{'id': 69, 'product_id': 4, 'quantity': 9, 'price_per_unit': Decimal('13925.11'), 'sale_date': datetime.date(2025, 6, 30)}
{'id': 70, 'product_id': 2, 'quantity': 3, 'price_per_unit': Decimal('39478.22'), 'sale_date': datetime.date(2025, 7, 7)}
{'id': 71, 'product_id': 7, 'quantity': 4, 'price_per_unit': Decimal('46555.29'), 'sale_date': datetime.date(2025, 7, 19)}
{'id': 72, 'product_id': 7, 'quantity': 5, 'price_per_unit': Decimal('27218.79'), 'sale_date': datetime.date(2025, 6, 26)}
{'id': 73, 'product_id': 7, 'quantity': 1, 'price_per_unit': Decimal('48903.08'), 'sale_date': datetime.date(2025, 7, 3)}
{'id': 74, 'product_id': 6, 'quantity': 10, 'price_per_unit': Decimal('46146.46'), 'sale_date': datetime.date(2025, 6, 8)}
{'id': 75, 'product_id': 9, 'quantity': 4, 'price_per_unit': Decimal('45204.29'), 'sale_date': datetime.date(2025, 6, 17)}
{'id': 76, 'product_id': 8, 'quantity': 8, 'price_per_unit': Decimal('17174.77'), 'sale_date': datetime.date(2025, 6, 5)}
{'id': 77, 'product_id': 10, 'quantity': 4, 'price_per_unit': Decimal('30582.62'), 'sale_date': datetime.date(2025, 6, 13)}
{'id': 78, 'product_id': 7, 'quantity': 7, 'price_per_unit': Decimal('8715.17'), 'sale_date': datetime.date(2025, 6, 25)}
{'id': 79, 'product_id': 7, 'quantity': 8, 'price_per_unit': Decimal('34608.27'), 'sale_date': datetime.date(2025, 7, 4)}
{'id': 80, 'product_id': 9, 'quantity': 5, 'price_per_unit': Decimal('10035.80'), 'sale_date': datetime.date(2025, 6, 3)}
{'id': 81, 'product_id': 10, 'quantity': 9, 'price_per_unit': Decimal('45785.07'), 'sale_date': datetime.date(2025, 6, 8)}
{'id': 82, 'product_id': 6, 'quantity': 6, 'price_per_unit': Decimal('41782.20'), 'sale_date': datetime.date(2025, 7, 27)}
{'id': 83, 'product_id': 7, 'quantity': 9, 'price_per_unit': Decimal('9335.29'), 'sale_date': datetime.date(2025, 7, 18)}
{'id': 84, 'product_id': 5, 'quantity': 4, 'price_per_unit': Decimal('15753.92'), 'sale_date': datetime.date(2025, 6, 22)}
{'id': 85, 'product_id': 2, 'quantity': 8, 'price_per_unit': Decimal('5751.19'), 'sale_date': datetime.date(2025, 7, 11)}
{'id': 86, 'product_id': 2, 'quantity': 3, 'price_per_unit': Decimal('45793.10'), 'sale_date': datetime.date(2025, 6, 16)}
{'id': 87, 'product_id': 3, 'quantity': 7, 'price_per_unit': Decimal('22942.78'), 'sale_date': datetime.date(2025, 7, 22)}
{'id': 88, 'product_id': 8, 'quantity': 7, 'price_per_unit': Decimal('35942.68'), 'sale_date': datetime.date(2025, 6, 19)}
{'id': 89, 'product_id': 7, 'quantity': 7, 'price_per_unit': Decimal('26647.26'), 'sale_date': datetime.date(2025, 7, 12)}
{'id': 90, 'product_id': 10, 'quantity': 6, 'price_per_unit': Decimal('13793.75'), 'sale_date': datetime.date(2025, 6, 8)}
{'id': 91, 'product_id': 9, 'quantity': 8, 'price_per_unit': Decimal('9647.67'), 'sale_date': datetime.date(2025, 6, 19)}
{'id': 92, 'product_id': 4, 'quantity': 8, 'price_per_unit': Decimal('14318.28'), 'sale_date': datetime.date(2025, 7, 15)}
{'id': 93, 'product_id': 6, 'quantity': 3, 'price_per_unit': Decimal('26940.22'), 'sale_date': datetime.date(2025, 7, 8)}
{'id': 94, 'product_id': 10, 'quantity': 8, 'price_per_unit': Decimal('21602.80'), 'sale_date': datetime.date(2025, 6, 20)}
{'id': 95, 'product_id': 10, 'quantity': 1, 'price_per_unit': Decimal('36289.77'), 'sale_date': datetime.date(2025, 7, 29)}
{'id': 96, 'product_id': 2, 'quantity': 7, 'price_per_unit': Decimal('27621.73'), 'sale_date': datetime.date(2025, 6, 21)}
{'id': 97, 'product_id': 6, 'quantity': 8, 'price_per_unit': Decimal('28758.15'), 'sale_date': datetime.date(2025, 7, 1)}
{'id': 98, 'product_id': 3, 'quantity': 4, 'price_per_unit': Decimal('24058.38'), 'sale_date': datetime.date(2025, 7, 29)}
{'id': 99, 'product_id': 3, 'quantity': 7, 'price_per_unit': Decimal('6540.23'), 'sale_date': datetime.date(2025, 6, 7)}
{'id': 100, 'product_id': 7, 'quantity': 1, 'price_per_unit': Decimal('28162.92'), 'sale_date': datetime.date(2025, 7, 6)}

In [19]:
import pandas as pd

In [20]:
df_products = pd.read_sql('SELECT * FROM products', engine)
df_sales = pd.read_sql('SELECT * FROM sales', engine)

print(df_products.head())
print(df_sales.head())

   id                name    category
0   1           iPhone 15  Smartphone
1   2  Samsung Galaxy S23  Smartphone
2   3         MacBook Air      Laptop
3   4         Dell XPS 13      Laptop
4   5            iPad Pro      Tablet
   id  product_id  quantity  price_per_unit   sale_date
0   1           9         8        36597.62  2025-06-06
1   2           1         4        23335.13  2025-06-29
2   3           8         6        22282.39  2025-06-23
3   4           5         7        17394.10  2025-07-16
4   5           5         1        10128.32  2025-06-06

In [21]:
df = pd.merge(df_sales, df_products, left_on="product_id", right_on="id")

In [22]:
df

,id_x,product_id,quantity,price_per_unit,sale_date,id_y,name,category
0,1,9,8,36597.62,2025-06-06,9,Canon EOS R7,Camera
1,2,1,4,23335.13,2025-06-29,1,iPhone 15,Smartphone
2,3,8,6,22282.39,2025-06-23,8,Logitech MX Master 3,Accessories
3,4,5,7,17394.10,2025-07-16,5,iPad Pro,Tablet
4,5,5,1,10128.32,2025-06-06,5,iPad Pro,Tablet
...,...,...,...,...,...,...,...,...
95,96,2,7,27621.73,2025-06-21,2,Samsung Galaxy S23,Smartphone
96,97,6,8,28758.15,2025-07-01,6,Apple Watch,Wearable
97,98,3,4,24058.38,2025-07-29,3,MacBook Air,Laptop
98,99,3,7,6540.23,2025-06-07,3,MacBook Air,Laptop
99,100,7,1,28162.92,2025-07-06,7,Sony WH-1000XM5,Headphones

In [23]:
df['revenue'] = df['quantity'] * df['price_per_unit']

### Report on Flask (website)

In [24]:
from flask import Flask, render_template
import plotly
import plotly.express as px
import json

In [25]:
app = Flask(__name__)

In [26]:
df

,id_x,product_id,quantity,price_per_unit,sale_date,id_y,name,category,revenue
0,1,9,8,36597.62,2025-06-06,9,Canon EOS R7,Camera,292780.96
1,2,1,4,23335.13,2025-06-29,1,iPhone 15,Smartphone,93340.52
2,3,8,6,22282.39,2025-06-23,8,Logitech MX Master 3,Accessories,133694.34
3,4,5,7,17394.10,2025-07-16,5,iPad Pro,Tablet,121758.70
4,5,5,1,10128.32,2025-06-06,5,iPad Pro,Tablet,10128.32
...,...,...,...,...,...,...,...,...,...
95,96,2,7,27621.73,2025-06-21,2,Samsung Galaxy S23,Smartphone,193352.11
96,97,6,8,28758.15,2025-07-01,6,Apple Watch,Wearable,230065.20
97,98,3,4,24058.38,2025-07-29,3,MacBook Air,Laptop,96233.52
98,99,3,7,6540.23,2025-06-07,3,MacBook Air,Laptop,45781.61
99,100,7,1,28162.92,2025-07-06,7,Sony WH-1000XM5,Headphones,28162.92

In [27]:
@app.route('/')
def report_t1():
    fig = px.bar(df, x="name", y="quantity", color="category",
                 title="Sales Quantity per Product", text_auto=True)
    graphJSON = json.dumps(fig, cls=plotly.utils.PlotlyJSONEncoder)
    return render_template('report_test.html', graphJSON=graphJSON)

if __name__ == '__main__':
    app.run(debug=True, use_reloader=False)

 * Serving Flask app '__main__'
 * Debug mode: on

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:5000
Press CTRL+C to quit
127.0.0.1 - - [28/Jul/2025 14:30:11] "GET / HTTP/1.1" 200 -

### Analytics and PDF

In [32]:
import openai
from fpdf import FPDF

In [36]:
load_dotenv()

openai.api_key = os.getenv("OPENAI_API_KEY")

summary = (
    "Total sales in July increased by 15% compared to June. "
    "The top-performing product was the iPhone 15, followed by the Canon EOS R7 and iPad Pro. "
    "Tablet and smartphone categories showed notable growth, while accessories remained stable."
)

response = openai.ChatCompletion.create(
    model="gpt-4o-mini",  
    messages=[
        {
            "role": "system",
            "content": (
                "You are a strategic business analyst. Write a compelling, insightful article for executives "
                "based on the provided summary. Include a title and emphasize trends and business implications."
            )
        },
        {
            "role": "user",
            "content": f"Please write an analytical article based on this data:\n{summary}"
        }
    ],
    max_tokens=500,      
    temperature=0.7,     
    top_p=1.0,
    frequency_penalty=0,
    presence_penalty=0
)

article = response.choices[0].message["content"]

pdf = FPDF()
pdf.add_page()
pdf.add_font('DejaVu', '', 'DejaVuSans.ttf', uni=True)  
pdf.set_font('DejaVu', '', 14)
pdf.multi_cell(0, 10, article)
pdf.output("strategic_sales_report.pdf")

print("PDF generated successfully.")

PDF generated successfully.

In [ ]:
response = openai.ChatCompletion.create(
    model="gpt-4o",
    messages=messages,
    max_tokens=200,  # กำหนด limit token ที่ตอบกลับ
)