# Fraud Dectection

In [38]:
import pandas as pd
import os

In [39]:
data = os.path.join('data', 'PS_20174392719_1491204439457_log.csv')
df = pd.read_csv(data)
df.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

In [40]:
df

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00,0,0
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,1,0
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00,0,0
...,...,...,...,...,...,...,...,...,...,...,...
6362615,743,CASH_OUT,339682.13,C786484425,339682.13,0.00,C776919290,0.00,339682.13,1,0
6362616,743,TRANSFER,6311409.28,C1529008245,6311409.28,0.00,C1881841831,0.00,0.00,1,0
6362617,743,CASH_OUT,6311409.28,C1162922333,6311409.28,0.00,C1365125890,68488.84,6379898.11,1,0
6362618,743,TRANSFER,850002.52,C1685995037,850002.52,0.00,C2080388513,0.00,0.00,1,0
6362619,743,CASH_OUT,850002.52,C1280323807,850002.52,0.00,C873221189,6510099.11,7360101.63,1,0

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6362620 entries, 0 to 6362619
Data columns (total 11 columns):
 #   Column          Dtype
---  ------          -----
 0   step            int64
 1   type            object
 2   amount          float64
 3   nameOrig        object
 4   oldbalanceOrg   float64
 5   newbalanceOrig  float64
 6   nameDest        object
 7   oldbalanceDest  float64
 8   newbalanceDest  float64
 9   isFraud         int64
 10  isFlaggedFraud  int64
dtypes: float64(5), int64(3), object(3)
memory usage: 534.0+ MB

In [42]:
print(df.isna().sum())

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64

In [43]:
print(df.isna().values.any())

False

In [44]:
df.describe()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
count,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06
mean,2.433972e+02,1.798619e+05,8.338831e+05,8.551137e+05,1.100702e+06,1.224996e+06,1.290820e-03,2.514687e-06
std,1.423320e+02,6.038582e+05,2.888243e+06,2.924049e+06,3.399180e+06,3.674129e+06,3.590480e-02,1.585775e-03
min,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.560000e+02,1.338957e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2.390000e+02,7.487194e+04,1.420800e+04,0.000000e+00,1.327057e+05,2.146614e+05,0.000000e+00,0.000000e+00
75%,3.350000e+02,2.087215e+05,1.073152e+05,1.442584e+05,9.430367e+05,1.111909e+06,0.000000e+00,0.000000e+00
max,7.430000e+02,9.244552e+07,5.958504e+07,4.958504e+07,3.560159e+08,3.561793e+08,1.000000e+00,1.000000e+00

## Research Agent: Ai Analyst

### Processing

In [45]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

In [46]:
np.random.seed(42)

In [47]:
def preprocess_data(df):
    df = df.dropna()
    
    le = LabelEncoder()
    df['type'] = le.fit_transform(df['type'])
    
    df['balance_change_orig'] = df['newbalanceOrig'] - df['oldbalanceOrg']
    df['balance_change_dest'] = df['newbalanceDest'] - df['oldbalanceDest']
    df['amount_to_orig_balance'] = df['amount'] / (df['oldbalanceOrg'] + 1e-6)  # Avoid division by zero
    
    features = ['step', 'type', 'amount', 'oldbalanceOrg', 'newbalanceOrig', 
                'oldbalanceDest', 'newbalanceDest', 'balance_change_orig', 
                'balance_change_dest', 'amount_to_orig_balance']
    X = df[features]
    y = df['isFraud']
    
    return X, y, df

### Modeling (Random Forest)

In [48]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix

In [49]:
def train_model(X, y):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
    model = RandomForestClassifier(n_estimators=100, random_state=42)
    model.fit(X_train, y_train)
    
    y_pred = model.predict(X_test)
    report = classification_report(y_test, y_pred, output_dict=True)
    cm = confusion_matrix(y_test, y_pred)
    
    return model, report, cm, X_test, y_test

### LangChain Analyst

In [50]:
from langchain.agents import initialize_agent, AgentType
from langchain.prompts import PromptTemplate
from langchain.llms import OpenAI

In [51]:
import langchain
langchain.__version__

'0.0.232'

In [52]:
def create_ai_analyst(df, report):
    llm = OpenAI(temperature=0.7)
    prompt = PromptTemplate(
        input_variables=["dataset_summary", "model_performance"],
        template="""You are an AI Analyst specializing in financial fraud detection. 
        Analyze the provided dataset summary and model performance, then provide insights and recommendations.
        Dataset summary: {dataset_summary}
        Model performance: {model_performance}
        Provide a concise analysis, including key findings, potential issues, and suggestions for improvement."""
    )
    agent = initialize_agent(
        tools=[],
        llm=llm,
        agent=AgentType.ZERO_SHOT_REACT_DESCRIPTION,
        verbose=True
    )
    dataset_summary = df.describe().to_string()
    model_performance = str(report)
    result = agent.run(prompt.format(dataset_summary=dataset_summary, model_performance=model_performance))
    return result

### Visualization

In [53]:
import io
from datetime import datetime

In [54]:
def generate_visualizations(df, cm):
    plt.style.use('seaborn')
    visualizations = []
    
    # Correlation Heatmap
    plt.figure(figsize=(10, 8))
    corr = df.corr()
    sns.heatmap(corr, annot=True, cmap='coolwarm', fmt='.2f')
    plt.title('Correlation Heatmap of Features')
    corr_buffer = io.BytesIO()
    plt.savefig(corr_buffer, format='png')
    corr_buffer.seek(0)
    visualizations.append(('correlation_heatmap.png', corr_buffer))
    plt.close()
    
    # Fraud Distribution
    plt.figure(figsize=(6, 4))
    sns.countplot(x='isFraud', data=df)
    plt.title('Distribution of Fraudulent vs Non-Fraudulent Transactions')
    fraud_dist_buffer = io.BytesIO()
    plt.savefig(fraud_dist_buffer, format='png')
    fraud_dist_buffer.seek(0)
    visualizations.append(('fraud_distribution.png', fraud_dist_buffer))
    plt.close()
    
    # Confusion Matrix
    plt.figure(figsize=(6, 4))
    sns.heatmap(cm, annot=True, fmt='d', cmap='Blues')
    plt.title('Confusion Matrix')
    plt.xlabel('Predicted')
    plt.ylabel('Actual')
    cm_buffer = io.BytesIO()
    plt.savefig(cm_buffer, format='png')
    cm_buffer.seek(0)
    visualizations.append(('confusion_matrix.png', cm_buffer))
    plt.close()
    
    return visualizations

### PDF Report

In [55]:
from reportlab.lib.pagesizes import letter
from reportlab.pdfgen import canvas

In [56]:
def generate_pdf_report(analysis, visualizations):
    buffer = io.BytesIO()
    c = canvas.Canvas(buffer, pagesize=letter)
    c.setFont("Helvetica", 12)
    c.drawString(50, 750, "Fraud Detection Analysis Report")
    c.drawString(50, 730, f"Generated on: {datetime.now().strftime('%Y-%m-%d %H:%M:%S')}")
    c.drawString(50, 710, "Summary of Analysis:")
    text = c.beginText(50, 690)
    text.setFont("Helvetica", 10)
    for line in analysis.split('\n')[:20]:
        text.textLine(line)
    c.drawText(text)
    y_pos = 500
    for img_name, img_buffer in visualizations:
        c.drawImage(img_name, 50, y_pos - 150, width=500, height=150)
        y_pos -= 170
    c.showPage()
    c.save()
    buffer.seek(0)
    return buffer

### Flask

In [57]:
from flask import Flask, render_template, send_file

In [58]:
app = Flask(__name__)

@app.route('/')
def index():
    return render_template('index.html')

@app.route('/visualization/<img_name>')
def serve_image(img_name):
    return send_file(f'static/{img_name}', mimetype='image/png')

@app.route('/report')
def serve_report():
    return send_file('static/report.pdf', as_attachment=True)

### Main

In [61]:
def main():
    # Load dataset inside main() to avoid global variable issues
    data_path = os.path.join('data', 'PS_20174392719_1491204439457_log.csv')
    df = pd.read_csv(data_path)
    
    # Preprocess, train, analyze, and generate outputs
    X, y, df = preprocess_data(df)
    model, report, cm, X_test, y_test = train_model(X, y)
    analysis = create_ai_analyst(df, report)
    visualizations = generate_visualizations(df, cm)
    os.makedirs('static', exist_ok=True)
    for img_name, img_buffer in visualizations:
        with open(f'static/{img_name}', 'wb') as f:
            f.write(img_buffer.read())
    pdf_buffer = generate_pdf_report(analysis, visualizations)
    with open('static/report.pdf', 'wb') as f:
        f.write(pdf_buffer.read())
    app.run(debug=True)

In [ ]:
if __name__ == "__main__":
    main()